<h1>Spring Boot Tutorial</h1>
<button (click)="login()">Login</button>
<button (click)="logout()">Logout</button><br /><br />
<form method="post" action="/logout">
  <input type="hidden" name="_csrf" value="{{ token }}" />
  <input type="submit" value="Logout" />
</form>

<button (click)="button01()">Call Resource Server 01</button><br /><br />
<h1>Message from Resource Server 01: {{ message01 }}</h1>
<button (click)="button02()">Call Resource Server 02</button><br /><br />
<h1>Message from Resource Server 02: {{ message02 }}</h1>
<button (click)="userinfo()">User Info</button><br /><br />
<h1>User info: {{ userinfo01 }}</h1>

<router-outlet></router-outlet>
